// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import '~admin-lte/plugins/fontawesome-free/css/all.css';

// Variables
@import 'variables';
$fa-font-path:"../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

.router-link-exact-active{
    background-color: #3f51b5;
    color: black !important;
}
